@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-outline: var(--outline);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-fancy-foreground: var(--fancy-foreground);
  --color-fancy: var(--fancy);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary: var(--tertiary);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-move: move 5s linear infinite;

  @keyframes move {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(200px);
    }
  }
}

:root {
  --background: oklch(0.99 0.0011 0);
  --foreground: oklch(0.11 0.002 238.64);
  --card: oklch(0.96 0 360);
  --card-foreground: oklch(0.11 0.002 238.64);
  --popover: oklch(0.96 0 360);
  --popover-foreground: oklch(0.11 0.002 238.64);
  --primary: oklch(0.83 0.0347 48.28);
  --primary-foreground: oklch(0.96 0 360);
  --secondary: oklch(0.57 0.0874 283.25);
  --secondary-foreground: oklch(0.96 0 360);
  --tertiary: oklch(0.63 0.0875 138.62);
  --tertiary-foreground: oklch(0.96 0 360);
  --muted: oklch(0.91 0.0044 17.24);
  --muted-foreground: oklch(0.11 0.002 238.64);
  --accent: oklch(0.3 0.0589 230.65);
  --accent-foreground: oklch(0.96 0 360);
  --destructive: oklch(0.5 0.18 27);
  --destructive-foreground: oklch(0.96 0 360);
  --outline: oklch(0.5 0.01 120);
  --border: oklch(0.7 0.0031 128.51);
  --input: oklch(0.5 0.01 120);
  --ring: oklch(0.41 0 360);
  --chart-1: oklch(0.78 0.1019 283.8);
  --chart-2: oklch(0.75 0.0865 254.23);
  --chart-3: oklch(0.83 0.0635 48.45);
  --chart-4: oklch(0.82 0.0551 253.59);
  --chart-5: oklch(0.66 0.1534 281.36);
  --sidebar: oklch(0.96 0 360);
  --sidebar-foreground: oklch(0.11 0.002 238.64);
  --sidebar-primary: oklch(0.35 0.02 143);
  --sidebar-primary-foreground: oklch(0.96 0 360);
  --sidebar-accent: oklch(0.93 0.02 60);
  --sidebar-accent-foreground: oklch(0.2 0 0);
  --sidebar-border: oklch(0.87 0.01 120);
  --sidebar-ring: oklch(0.65 0.01 120);
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.11 0.002 238.64);
  --foreground: oklch(0.96 0 360);
  --card: oklch(0.13 0 0);
  --card-foreground: oklch(0.96 0 360);
  --popover: oklch(0.13 0 0);
  --popover-foreground: oklch(0.96 0 360);
  --primary: oklch(0.81 0.0452 46.67);
  --primary-foreground: oklch(0.96 0 360);
  --secondary: oklch(0.67 0.1587 281.2);
  --secondary-foreground: oklch(0.96 0 360);
  --tertiary: oklch(0.8 0.19 139.46);
  --tertiary-foreground: oklch(0.96 0 360);
  --muted: oklch(0.13 0 0);
  --muted-foreground: oklch(0.11 0.002 238.64);
  --accent: oklch(0.66 0.1385 234.83);
  --accent-foreground: oklch(0.13 0 0);
  --destructive: oklch(0.63 0.2359 26.67);
  --destructive-foreground: oklch(0.96 0 360);
  --outline: oklch(0.7 0.0031 128.51);
  --border: oklch(0.5 0.01 120);
  --input: oklch(0.5 0.01 120);
  --ring: oklch(0.57 0 360);
  --chart-1: oklch(0.9 0.0508 232.81);
  --chart-2: oklch(0.84 0.0857 138.79);
  --chart-3: oklch(0.88 0.0688 45.59);
  --chart-4: oklch(0.74 0.0949 283.83);
  --chart-5: oklch(0.92 0.0502 199.41);
  --sidebar: oklch(0.13 0 0);
  --sidebar-foreground: oklch(0.96 0 360);
  --sidebar-primary: oklch(0.43 0.0735 181.88);
  --sidebar-primary-foreground: oklch(0.96 0 360);
  --sidebar-accent: oklch(0.25 0.01 60);
  --sidebar-accent-foreground: oklch(0.96 0 360);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.5 0.01 120);
}

@font-face {
  font-family: "Sansita";
  src: url("/fonts/Sansita-Black.ttf") format("truetype");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("/fonts/Spectral-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yrsa";
  src: url("/fonts/Yrsa-VariableFont_wght.ttf") format("truetype");
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
}

@layer components {
  Card, AlertDialog, Dialog {
    @apply bg-card text-card-foreground border-border rounded-lg shadow-md;
  }
  Popover {
    @apply bg-popover text-popover-foreground border-border rounded-lg shadow-md;
  }
  Image {
    @apply object-cover object-center rounded-2xl;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-[Yrsa] cursor-default;
  }

  h1 {
    @apply text-4xl lg:text-6xl text-primary font-[Sansita];
  }

  h2 {
    @apply text-2xl lg:text-3xl font-[Spectral];
  }

  h3 {
    @apply text-xl 2xl:text-2xl text-secondary font-[Spectral] font-semibold;
  }

  h4 {
    @apply text-base text-tertiary tracking-widest font-[Sansita] font-bold;
  }
  h5 {
    @apply text-xs md:text-sm -mt-3 text-accent tracking-widest uppercase font-[Spectral] font-bold;
  }
  p {
    @apply py-1 text-pretty;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}